/* Background Classes */
.bg-background {
  background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
  width: 100%;
}
/* Border Color */
.border-border {
  border-color: var(--border);
  width: 50%;
}
.h-32 {
  height: 12rem;
  width: 20rem;
}
/* Padding and Margin */
.mt-10 {
  margin-top: 2.5rem;
}
.tols{
font-size: 50px;
font-weight: 900;
}
.ggg {
  padding-right: 120px;
}